.sidenav-button {
  padding: 17px 10px;
  text-align: left;
  border-bottom: 1px solid #efefef;
  i {
    margin: 0 10px;
  }
}
.header-icon {
  margin: 0 20px;
  font-size: 2.3em;
}
.choseDays {
  padding-top: 10px;
  position: relative;
  span {
    width: 300px;
    padding-right: 80px;
    margin-top: -25px
  }
}
