<div flex="1" layout="row" style="position: relative;">
  <ui-gmap-google-map ng-show="!isChart" flex="1"
          flex center='map.center'
          zoom='map.zoom'
          options="options"
          events="map.events">

    <ui-gmap-circle ng-repeat="c in stations track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                    visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable"
                    clickable="c.clickable" events="c.events" control="c.control">

    </ui-gmap-circle>



  </ui-gmap-google-map>

  <div id="chartContainer" ng-show="isChart"></div>

</div>
